In [1]:
import pandas as pd
import os
import csv

In [2]:
measurements_csv = os.path.join("clean_hawaii_measurements.csv")
stations_csv = os.path.join("clean_hawaii_stations.csv")

In [3]:
measurements = pd.read_csv(measurements_csv)
stations = pd.read_csv(stations_csv)

In [41]:
measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [5]:
measurements = measurements.drop(columns=["Unnamed: 0"])
stations = stations.drop(columns=["Unnamed: 0"])

In [6]:
# Dependencies
# ----------------------------------
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float, Date 

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [33]:
Base = declarative_base()

In [34]:
Base.metadata.create_all(conn)

In [35]:
# Create Measurement and Station classes
# ----------------------------------
class Measurement(Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Integer)

class Station(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    station = Column(Integer)
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [36]:
engine = create_engine("sqlite:///hawaii.sqlite")
conn = engine.connect()

In [37]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [38]:
measurements.to_sql(name='measurements',con=engine, if_exists='replace')
stations.to_sql(name='stations',con=engine, if_exists='replace')

In [39]:
import sqlite3
con = sqlite3.connect("hawaii.sqlite")
frame = pd.read_sql('SELECT * FROM stations',con)
print(frame)

   index      station                                    name  latitude  \
0      0  USC00519397                    WAIKIKI 717.2, HI US  21.27160
1      1  USC00513117                    KANEOHE 838.1, HI US  21.42340
2      2  USC00514830  KUALOA RANCH HEADQUARTERS 886.9, HI US  21.52130
3      3  USC00517948                       PEARL CITY, HI US  21.39340
4      4  USC00518838              UPPER WAHIAWA 874.3, HI US  21.49920
5      5  USC00519523      WAIMANALO EXPERIMENTAL FARM, HI US  21.33556
6      6  USC00519281                     WAIHEE 837.5, HI US  21.45167
7      7  USC00511918       HONOLULU OBSERVATORY 702.2, HI US  21.31520
8      8  USC00516128            MANOA LYON ARBO 785.2, HI US  21.33310

   longitude  elevation
0 -157.81680        3.0
1 -157.80150       14.6
2 -157.83740        7.0
3 -157.97510       11.9
4 -158.01110      306.6
5 -157.71139       19.5
6 -157.84889       32.9
7 -157.99920        0.9
8 -157.80250      152.4